/**************************************
            HEADER
**************************************/
header{
    height: 40px;
}
.pow{
    font-family: serif;
    }
/*************************************
            MAIN
*************************************/

.carrito{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    font-size: 2rem;
}
.box{
    font-size: 2rem;
}
.arrow{
    font-size: 2rem;
}
.icons{
    font-size: x-large;
}
.cart-reminder-title {
    font-family: "FuturaStdMedium", sans-serif;
    line-height: 16px;
    text-transform: uppercase;
}
.cart-reminder-subtitle {
    font-family: "FuturaStdBook", sans-serif;
    line-height: 16px;
}
.cart-reminders-img-container {
    padding-right: 20px;
}

hr{
    color: gray;
    width: 90%;
}

.foto1{
    margin-left: 18%;
    height: 90%;
    width: 90%;
}

.foto2{
    margin-left: 18%;
    height: 105%;
    width: 90%;
}
.name{
    margin-left: 5%;
}

.trash{
    margin-left: 85%;
}

.coltal{
    font-size: smaller;
}

.plus{
    background-color: white;
    border-color: grey;
    border-radius: 0%;
}

.minus{
    background-color: white;
    border-color: grey;
    border-radius: 0%;
}

.num{
    border-radius: 0%;
    border-color: grey;
}

.completar{
    margin-bottom: 3%;
    border-color: black;
    width: 90%;
}

.seguir{
    margin-top: 3%;
    border-color: black;
    width: 90%;
}

.foot{
    font-family: serif;
}

.counter{
    position: relative;
    left: 233px;
    top: 20%;
    font-size: medium;
}
.lupa{
    position: relative;
    left: 0%;
    top: 20%;
}
.bolsa{
    position: relative;
    left: 250px;
    top: 20%;
}
.pow{
    position: relative;
    left: -20%;
}
.precio{
    position: relative;
    top: 0%;
    left: 0%;
}
.cantidad{
    position: relative;
    top: 0%;
    left: 0%;
}


@media (min-width: 769px){
    .foto1{
        margin-left: 30%;
        width: 100%;
        height: 90%;
    }
    .foto2{
        margin-left: 30%;
        width: 100%;
        height: 90%;
    }
    .carrito{
        margin-left: 10%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .card{
        font-size: 4rem;
    }
    .box{
        font-size: 4rem;
    }
    .arrow{
        font-size: 4rem;
    }
    .plus{
        width: 5%;
        background-color: white;
        border-color: grey;
        border-radius: 0%;
    }
    hr{
        display: flex;
        align-items: flex-start;
        color: gray;
        width: 50%;
    }
    .minus{
        width: 5%;
        background-color: white;
        border-color: grey;
        border-radius: 0%;
    }
    
    .num{
        width: 5%;
        font-size: small;
        border-radius: 0%;
        border-color: grey;
    }
    .name{
        font-size: 110%;
        font-weight: 200;
        margin-left: 2%;
    }
    .texto{
        margin-left: 38%;
    }
    .counter{
        position: relative;
        top: -7%;
        left: -15%;
        font-size: medium;
    }
    .lupa{
        position: relative;
        left: 0%;
        top: 0%;
    }
    .bolsa{
        position: relative;
        left: 0%;
        top: 0%;
        font-size: x-large;
    }
    .pow{
        position: relative;
        left: 0%;
    }
    .text{
        position: relative;
        left: 20%;
    }
    .precio{
        position: relative;
        top: -100px;
        left: 410px;
    }
    .cantidad{
        position: relative;
        top: -140px;
        left: 230px;
    }
    .tacho{
        position: relative;
        left: 390px;
    }
    .talle{
        position: relative;
        top: -60px;
        left: 150px;
    }
    .talle2{
        position: relative;
        top: -60px;
        left: 150px;
    }
    .tacho2{
        position: relative;
        left: 268px;
    }
    .cantidad2{
        position: relative;
        top: -140px;
        left: 230px;
    }
    .precio2{
        position: relative;
        top: -100px;
        left: 450px;
    }
}